# Reemplaza con tu cadena de conexión de MongoDB Atlas
# Ejemplo: mongodb+srv://usuario:password@cluster.mongodb.net/
MONGO_URL=mongodb+srv://<user>:<password>@cluster0.abcde.mongodb.net/?retryWrites=true&w=majority

# Nombre de la base de datos dentro del cluster
DB_NAME=naf_inspection

# Secreto para firmar los tokens JWT (Cámbialo por algo seguro)
JWT_SECRET=tu_secreto_super_seguro_para_produccion

# Opcional: Nombre del entorno
ENV_NAME=production
